html, body {
	width: 100%;
	margin: 0;  padding: 0;
	background: #222;
	color: white;
}

#main { display: block;  margin: 2em auto; }

ol, p { width: 80ex; margin-left: auto; margin-right: auto; }

ol { padding-left: 3em; }

tr, td { vertical-align: top; }
.source { width: 80%; margin: 0.5em auto; padding: 0.5em; border-radius: 0.5em; background: #333; }
.source table { width: 100%; }

.center { text-align: center; }
.capitalize { text-transform: capitalize; width: 80%; margin: 1.5em auto 0em auto; }

a:link { color: #77f; }
a:visited { color: #c4c; }
a:hover { color: #c44; }
